body {
    margin: 42px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:700px;
    gap: 50px;
}

.left {
    max-width: 380px;
}

.left p {
    font-size: 24px;
    color: #1c1e21;
    margin-bottom: 110px;
    margin-right: 40px;
}

.login-box {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 40px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

input {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: inherit;
}

.btn-login {
    width: 100%;
    padding: 14px;
    background-color: #0c6afc;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 16px;
    font-family: inherit;
}

.btn-login:hover {
    background-color: #1877f2;
}

.forgot {
    text-align: center;
    margin-bottom: 20px;
}

.forgot a {
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.btn-create {
    display: block;
    padding: 13px 20px;
    margin-left: 101px;
    margin-right: 101px;
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
    text-decoration: underline;
    text-align: center;
}

.footer-text {
    text-align: center;
    margin-top: 28px;
    font-size: 14px;
}

.footer-text a {
    font-weight: bold;
    color: #1c1e21;
    text-decoration: none;
}

footer-text a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    font-size: 12px;
    color: #90949c;
    text-align: center;

}

.logo {
    width: 320px;
    margin-bottom: -39px;
    margin-left: -30px;
}

.footer-links {
    margin: -42px;
    font-size: 12px;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    padding-bottom: 20%;
}

.language-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 10px;
}

.uiList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-wrap: wrap;
}

.uiList li a, .language-list li a {
    color: #385898;
    text-decoration: none;
    font-size: 12px;
}

.language-header {
    margin-left: 400px;
    margin-right: 400px;
}

.language-separator {
    margin: 10px;
}